In [2]:
import requests
import pandas as pd

In [8]:
def urlname(str):
    url = requests.get("https://swapi.dev/api/" + str)
    return url

In [9]:
urlname("people")

In [14]:
def json(url) :
    json_data = url.json()
    return json_data

In [18]:
json(urlname("people"))

In [19]:
def todataframe(json_data):
    pd_data = pd.DataFrame(json_data)
    return pd_data

In [20]:
todataframe(json(urlname("people")))

,count,next,previous,results
0,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Luke Skywalker', 'height': '172', 'm..."
1,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'C-3PO', 'height': '167', 'mass': '75..."
2,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'R2-D2', 'height': '96', 'mass': '32'..."
3,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Darth Vader', 'height': '202', 'mass..."
4,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Leia Organa', 'height': '150', 'mass..."
5,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Owen Lars', 'height': '178', 'mass':..."
6,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Beru Whitesun lars', 'height': '165'..."
7,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'R5-D4', 'height': '97', 'mass': '32'..."
8,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Biggs Darklighter', 'height': '183',..."
9,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Obi-Wan Kenobi', 'height': '182', 'm..."